ImageViewer.config
ImageViewer.lps
files/PackageFiles/AppxManifest.xml
ImageViewer.lpr.old
uabout.lrj
ufullscreen.lrj
umain.lrj
ImageViewer.exe
backup/ImageViewer.lpi
backup/ImageViewer.lpr
backup/umain.lfm
backup/umain.pas
lib/i386-win32/ImageViewer.compiled
lib/i386-win32/ImageViewer.o
lib/i386-win32/ImageViewer.or
lib/i386-win32/ImageViewer.res
lib/i386-win32/libimpufullscreen.a
lib/i386-win32/uabout.lfm
lib/i386-win32/uabout.o
lib/i386-win32/uabout.ppu
lib/i386-win32/ufullscreen.lfm
lib/i386-win32/ufullscreen.o
lib/i386-win32/ufullscreen.ppu
lib/i386-win32/umain.lfm
lib/i386-win32/umain.o
lib/i386-win32/umain.ppu
lib/i386-win32/umain.rsj
po_files/ImageViewer.pot
backup/ufullscreen.pas
backup/ufullscreen.lfm
ImageViewer.app/Contents/Info.plist
ImageViewer.app/Contents/PkgInfo
backup/

*.o
*.ppu
src/lib/i386-win32/libimpufullscreen.a
*.or
*.a
src/lib/i386-win32/ImageViewer.or
src/lib/i386-win32/libimpufullscreen.a
*.or
*.a
src/lib/i386-win32/ImageViewer.or
src/lib/i386-win32/ImageViewer.or
src/ImageViewer.log
